@media (prefers-color-scheme: light) {
  :root {
    --text: hsl(60, 12%, 5%);
    --background: hsl(60, 10%, 94%);
    --primary: hsl(53, 84%, 62%);
    --secondary: hsl(133, 11%, 68%);
    --accent: hsl(155, 10%, 43%);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(60, 12%, 95%);
    --text-50: hsl(60, 12%, 50%);
    --background: hsl(60, 10%, 6%);
    --background-50: hsl(60, 10%, 20%);
    --primary: hsl(53, 84%, 38%);
    --primary-50: hsl(53, 84%, 50%);
    --secondary: hsl(133, 11%, 32%);
    --accent: hsl(155, 10%, 57%);
  }
}
