.project-card {
  /* background-color: var(--primary); */
  border-radius: 5px;
  box-shadow: 0 0 10px var(--background-50);
  position: relative;
  overflow: hidden;
}

.project-card img {
  position: absolute;
  width: 100%;
}

.project-card-content {
  position: absolute;
  bottom: 0;
  background-color: black;
  width: 100%;
  padding: 0.5rem 0.75rem;
}
